<%= form_with(model: seating, local: true) do |form| %>
  <% if seating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seating.errors.count, "error") %> prohibited this seating from being saved:</h2>

      <ul>
      <% seating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :seat_row %>
    <%= form.number_field :seat_row %>
  </div>

  <div class="field">
    <%= form.label :seat_no %>
    <%= form.number_field :seat_no %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
