<% provide(:title, 'Edit Movie') %>
<% provide(:button_text, 'Save changes') %>
<h1>Update Movie</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@movie)  do |f| %>
        

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :category %>
      <%= f.text_field :category, class: 'form-control' %>

      <div class="field">
         <%= f.label :avatar %><br>
         <%= f.file_field :avatar %>
         
      </div>

      <%= f.label :cast %>
      <%= f.text_field :cast, class: 'form-control'  %>


      <%= f.label :director %>
      <%= f.text_field :director, class: 'form-control'  %>


      <%= f.label :producer %>
      <%= f.text_field :producer, class: 'form-control'  %>

      <%= f.label :synopsis %>
      <%= f.text_field :synopsis, class: 'form-control'  %>


      <%= f.label :review %>
      <%= f.text_field :review, class: 'form-control'  %>

      
      <%= f.label :rating %>
      <%= f.text_field :rating, class: 'form-control'  %>



      <%= f.submit "Update", class: "btn btn-primary" %>


    <% end %>      
  </div>
</div>